<div class='container text-center'>

  <form action='/' method='post'>
    <label class='d-block mx-auto mt-5 mb-3 fs-2' for='email'>Account Login</label>
    <input class='d-block mx-auto mb-1' type='text' name='email' id='email' placeholder='Email' required />
    <input class='d-block mx-auto mb-3' type='password' name='password' id='password' placeholder='Password' required />
    <button class='d-block mx-auto' type='submit'>Sign in</button>
  </form>
  <h3 class='text-danger {{dNone}}'>帳號或密碼有誤</h3>
</div>